/* Targets the HTML element and sets smooth scrolling behavior */
*html{
    scroll-behavior: smooth;
}
/* Targets all elements, sets box-sizing to border-box, and resets margin and padding to 0 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: whtie; */
}
/* Targets pseudo-elements before an element, sets padding, margin, and box-sizing to border-box */
*before{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* Targets elements with the class 'header' and defines its styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 10px 0px;
    background-color: black;
    z-index: 1000;
    position: fixed; 
    width: 100%;
    /* margin-right: 40px; */
}
/* Targets elements with the class 'logo' and defines its styles */
.logo{
    cursor: pointer;
    width: 150px; 
    height: 50px; 
    padding: 0;
    margin-left: 40px;
}
/* Targets elements with the class 'navbar' and defines its styles */
.navbar {
    background-color: black;
    text-align: center;
    
}
/* Targets list items within elements with the class 'navbar' and defines their styles */
.navbar li {
    display: inline-block;
    padding: 0px 20px;
}
/* Targets anchor elements within list items of 'navbar' and defines their styles */
.navbar li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    cursor: pointer;
}

/* .navbar li a:hover{
     color:blue; 
    /* text-decoration: underline;
    text-decoration-color: white;
    transition: 0.4s; }*/
/* Targets anchor elements within list items of 'navbar' on hover and defines their styles */
.navbar li a:hover:after{
    width: 100%;
}
/* Targets pseudo-elements after anchor elements within list items of 'navbar' */
.navbar li a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width:0;
    left:0;
    bottom: -10px;
    transition: 0.3s;
}
/* Targets elements with the class 'background' and defines its styles what I use for the main home screen*/
.background {
    background-image: url(images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    .background {
        background-image: url(images/DmOQtYIU4AALlBQ.jpg); /* Replace with your mobile image URL */
    }
}
/* Targets elements with the class 'background1' and defines its styles what I use for the about us page*/
.background1{
    background-image: url(images/profile.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
@media only screen and (max-width: 600px) {
    .background {
        background-image: url(images/profile.jpg); /* Replace with your mobile image URL */
    }
}
body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.text {
    position: absolute;
    color: black;
    font-size: x-large; 

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
}
.text-under-background1 {
    padding: 20px 0; 
    color: black; 
    font-size: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.text-under-background1 ul {
    display: flex; 
    justify-content: center; 
    padding: 0; 
    list-style-type: none; 
}

.text-under-background1 ul li {
    margin: 0 60px; 
    
    
}
.text-under-background1 .aboutus{
    text-align: center;
    width: 50%;
}
.text-under-background1 img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
}

.event-details h2 {
    margin-bottom: 0px; /* Adjust as needed */
}

.sub-details h3 {
    margin-top: 0px; /* Adjust as needed */
}

.sub-details {
    display: flex;
    justify-content:flex-start;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.details-button {
    background-color: blue;
    border: 0; /* Set initial border to 0 */
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.details-button:hover {
    background-color: lightgrey;
    color: blue;
    border: 1px solid black; /* Set border to 1px and black when hovered */
}
.details-button a{
    cursor: pointer;
}


.event-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-details{
    display: flex;
    justify-content: space-between;
    height:88px;
}
body{
    background-color:lightgrey;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.text-under-background1 .image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.image-container {
    display: flex;
    justify-content: space-between;
}
.image-container img {
    margin: 0 10px;
}
/* ///////////////////////////////////////////////////////////////////////// slideshow */
.Slideshow-container {
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    width: 600px;
    height: 338px;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; /* Adjust this value according to your needs */
}

.slideshow-container{
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    width: 100vw;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.mySlidesA {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30%;
    height: 250px;
    width: 250px;
}
 
  
.mySlides {
    display: inline-block;
    position: relative;
}

  
  /* Style the arrows */
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.arrow:hover {
    background-color: rgba(0,0,0,0.8);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}

.event-details{
    margin-right: 7%;
    margin-left: 7%;
}

.short-hr{
    width: 86%;
    border: 0;
    height: 1px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:600px){
    .slider {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%; /* Adjust this value according to your needs */
    }
    .slideshow-container {
        height: 200px; /* Adjust this value according to your needs */
    }
}

/* Your existing CSS */
/* .image-class {
    width: 100vw;
    height: 100vh;
} */

/* Add this media query for smaller screens */
@media screen and (max-width: 600px) {
    .image-class {
        width: 100%; /* Adjust this value according to your needs */
        height: 50%; /* Adjust this value according to your needs */
    }
}
.navbar .icons img{
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
}
.icons a img {
    margin-right: 10px;
}


@media screen and (max-width: 600px) {
    .background, .background1 {
        height: 50%;
    }
}
.title h1{
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.icons a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.subscribe {
    display: flex;
    margin-right: 10px;
}
footer p{
    color: white;
}

.footer p{
    margin: 10px;
    padding: 10px;
}
  
.newsletter-text {
    margin-right: 20px;
}
.newsletter-form {
    margin-left: 20px;
}
